@model ProductListModel
@{
    ViewData["Title"] = "Product";
}

    @section Styles{
    <link rel="stylesheet" href="~/admin-lte/plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="~/admin-lte/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin-lte/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/admin-lte/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    }

            <!-- Main content -->
      <section class="content">
                <div class="container-fluid">
                    <div class="row">

            <!--search section -->
            <div class="content-header">
                <div class="col-12">
                    <div class="card card-outline card-primary collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title"><i class="fas fa-search mr-1"></i>Search Product</h3>

                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <!-- /.card-tools -->
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Title</label>
                                        <input type="text" asp-for="ProductSearch.Title" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Product Price From</label>
                                        <input type="number" asp-for="ProductSearch.FromPrice" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label>Product Price To</label>
                                        <input type="number" asp-for="ProductSearch.ToPrice" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                            <button id="searchButton" type="submit" class="btn btn-primary float-right">Search</button>
                        </div>
                    </div>
                </div>
            </div>

            <partial name="_ModalPartial" />
                        <div class="col-12">
                           

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Product List</h3>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body">
                                <table id="products" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>Product Title</th>
                                                <th>Description</th>
                                                <th>Price</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                     
                                        <tfoot>
                                            <tr>
                                                <th>Product Title</th>
                                                <th>Description</th>
                                                <th>Price</th>
                                                <th>Action</th>
                                            </tr>
                                         </tfoot>
                                      
                                    </table>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
 
    <!-- ./wrapper -->
    <!-- jQuery -->
@section Scripts{
    <script src="~/admin-lte/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/admin-lte/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/admin-lte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/admin-lte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/admin-lte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/admin-lte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/admin-lte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/admin-lte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/admin-lte/plugins/jszip/jszip.min.js"></script>
    <script src="~/admin-lte/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/admin-lte/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/admin-lte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/admin-lte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/admin-lte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/admin-lte/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/admin-lte/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {


            $("#products").DataTable({

                processing: true,
                serverSide: true,
                searching: true,
                ajax: {
                    url: "/Admin/Product/GetProducts",
                    type: "POST",
                    data: function (d) {
                        d.ProductSearch = {
                            Title: $("#ProductSearch_Title").val(),
                            FromPrice: $("#ProductSearch_FromPrice").val() === "" ? null : $("#ProductSearch_FromPrice").val(),
                            ToPrice: $("#ProductSearch_ToPrice").val() === "" ? null : $("#ProductSearch_ToPrice").val()
                        };
                        //console.log(d.SearchItem);
                    },
                },

                columnDefs: [
                    {
                        orderable: false,
                        targets: 3,
                        render: function (data, type, row) {
                            return `<button type="submit" class="btn btn-info btn-sm" onclick="window.location.href='/admin/product/update/${data}'" value='${data}'>
                                            <i class="fas fa-pencil-alt">
                                            </i>
                                            Edit
                                        </button>
                                        <button type="submit" class="btn btn-danger btn-sm show-bs-modal" data-id='${data}' value='${data}'>
                                            <i class="fas fa-trash">
                                            </i>
                                            Delete
                                        </button>`;
                        }
                    }
                ],


                "responsive": true, "lengthChange": false, "autoWidth": false,
                 dom: 'Bfrtip',
                buttons: ['copyHtml5', 'excelHtml5', 'csvHtml5', 'pdfHtml5', 'printHtml5']
            }).buttons().container().appendTo('#products_wrapper .col-md-6:eq(0)');

            $("#searchButton").click(function () {
                $('#products').DataTable().ajax.reload(null, false);
            });

            $('#products').on('click', '.show-bs-modal', function (event) {
                var id = $(this).data("id");
                var modal = $("#modal-default");
                modal.find('.modal-body p').text('Are you sure you want to delete this record?');
                $("#deleteId").val(id);
                $("#deleteForm").attr("action", "/admin/product/delete");
                modal.modal('show');
            });

            $("#deleteButton").click(function () {
                $("#deleteForm").submit();
            });

        });
    </script>
    }

