@model ProductUpdateModel
@{
    ViewData["Title"] = "Update";
}

<h1>Update Product</h1>
<form asp-action="Update" asp-area="Admin" asp-controller="Product" method="post" asp-antiforgery="true">
    <input type="hidden" asp-for="Id" />
    <div clsss="form-group">
        <label asp-for="ProductTitle">Product Title</label>
        <input type="text" class="form-control" asp-for="ProductTitle" />
    </div>
    <div clsss="form-group">
        <label asp-for="Description">Product Description</label>
        <input type="text" class="form-control" asp-for="Description" />
    </div>
    <div clsss="form-group">
        <label asp-for="Price">Product Price</label>
        <input type="number" class="form-control" asp-for="Price" />
    </div>
    <button type="submit" class="btn btn-primary">Update Product</button>

</form>
